.indexFxmlClass {
    -fx-background-color: #02182B;
}

.btn-color
{
    -fx-background-color:  #FC5130;
    -fx-background-radius: 50;
    -fx-background-insets: 0;
    -fx-text-fill: #F5E6E8;
    -fx-cursor: hand;
}
