.mainFxmlClass {
    
}

.question-button {
    -fx-font-size: 16px;
    -fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
    -fx-padding: 10 5 10 5;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-cursor: hand;
}

.unanswered-question {
    -fx-background-color:  #FC5130;
    -fx-text-fill: #F5E6E8;
}

.answered-question {
    -fx-background-color: #DBD053;
    -fx-text-fill: #02182B;
}

.list-cell { 
    -fx-text-fill: black;
}
.list-cell:odd { 
    -fx-background-color: white; 
}
.list-cell:even { 
    -fx-background-color: white; 
}
.list-cell:filled:hover { 
    -fx-background-color: #02182B;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
}

.radio-button -radio:armed {
    -fx-background-color: white;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

